@page
@model Neo4J_Projekat.Pages.ListaBendovaModel
@{
    ViewData["Title"] = "Bendovi";
}

<div class="container">
    <div class="row justify-content-center ">
        <h2>Svi Bendovi:</h2>
    </div>

    <div class="row">
        <div class="col">
            <form method="post" class="form-inline float-right">
                <input class="form-control" name="naziv"  style="margin-right:5vh;" placeholder="Unesite Naziv Benda...">

                <button asp-page-handler="PronadjiJedan" class="btn btn-info ">Prikazi</button>

                <button asp-page-handler="VratiSve" class="btn btn-secondary" style="margin-left:2vh;">Vrati Svi Bendovi</button>
            </form>
        </div>
    </div>



    <div class="row">
        @if (Model.Bendovi != null)
        {
            int broj = 0;
            @foreach (var bend in Model.Bendovi)
            {


                @if (broj == 3)
                {

                @:</div><div class="row">
                    broj = 0;

                }

                <div class="col">
                    <div class="card">

                        <div class="card-img-top">
                            <img style="" src="@bend.slika" />
                        </div>
                        <div class="card-body">
                            <div class="col" style="text-align:center;">
                                <b> @bend.naziv</b>
                            </div>
                            <form method="post" class="form-inline float-right">
                                <input name="naziv" value="@bend.naziv" hidden="hidden" />
                                <button asp-page-handler="Bend" class="btn-info btn">Detaljnije</button>
                            </form>
                        </div>
                        <a class="card-footer alert-success text-center">
                            <b> Kliknuti na detaljnije za vise informacija</b>
                        </a>
                    </div>
                </div>

                broj++;
            }
        }
        else
        {
             <div class="col text-center" style="margin-top:20vh;">
                 <h1>NE POSTOJI POTRAZEN BEND</h1>
                 </div>
            
        }


    </div>

</div>